.admin-dashboard {
  #header {
    margin-left: 0;
    position: fixed;
    left: 200px;
    right: 0;
    height: 101px;
    background-color: rgb(247, 247, 247);
    border-bottom: 1px solid black;
  }
}
